.about-section {
  padding: 4rem 2rem;
}

.about-container{
    padding: 0 4rem;
}

.social-icons a {
  color: var(--text-dark);
  font-size: 2rem;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: var(--primary-strong);
  transform: scale(1.2);
}
