.font-weight-800 {
	font-weight: 800;
}

.font-weight-600 {
	font-weight: 600;
}

.font-weight-500 {
	font-weight: 500;
}

.right {
	text-align: right;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}