/* Header styles moved from index.css */
.header-container {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: .5rem 3rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}

.grid-item div:nth-child(1) {
	text-align: center;
}

.header-logo {
	color: var(--black);
	width: fit-content;
	display: inherit;
}

.header-logo h1{
	font-size: 1.5rem;
}

.header-logo{
	width: fit-content;
	padding-right: 0.5rem;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: bold;
	font-size: 1.5rem;
}

.logo-guitar {
	font-size: 1.8rem;
}

.logo-text {
	background: linear-gradient(45deg, var(--logo-grad-start), var(--logo-grad-end));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: 700;
}

.sticky-menu{
	position: sticky;
	top: 0;
	z-index: 1000;
}

/* Header menu */
.header-menu {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	margin-top: 1.3rem;
}
.header-menu .menu-link{
	color: rgb(0, 0, 1, 0.7);
	font-weight: var(--weight-semi-bold);
	font-family: var(--font-arimo);
	text-decoration: none;
	font-size: 1.1rem;
	position: relative;
	transition: color 0.5s cubic-bezier(0.68,-0.55,0.27,1.55);
}
.header-menu .menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background: var(--accent-orange-opaque);
  border-radius: 2px;
  transition: width 0.5s cubic-bezier(0.68,-0.55,0.27,1.55);
}
.header-menu .menu-link:hover {
  color: var(--primary-color);
}
.header-menu .menu-link:hover::after {
  width: 100%;
}
/* Dark-light mode shop */
.darkmode-shop {
	transform: translateX(clamp(-70px, -125px, -130px));
	margin-top: 0.7rem;
}
/* Menu toggle button for mobile */
.menu-toggle-button{
	display: none;
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
}

.header-menu.menu-closed{
	position: absolute;
	left: clamp(33%, 35%, 50%); /* temporal % */
	bottom: 1rem;
}

.menu-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 0;
	animation: fade-in 0.3s forwards;	
	backdrop-filter: blur(2px);
}