/* Home: why choose us */
.why-choose-us{
	margin-top: 2rem;
}

.why-choose-us-title {
  text-align: center;
  font-size: 2.5rem;
}

.why-choose-us-title-end {
  color: var(--primary-color);
}

.why-choose-us-grid {
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.why-choose-us-item {
  border: 2px solid oklch(0.8631 0 360);
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(53, 53, 53, 0.15);
  text-align: center;
  padding: 2rem;
  width: 20%;
  height: 10rem;
}

.wcu-icon {
  color: var(--primary-color);
}

.wcu-item-title{
	margin-top: 1rem;
	font-size: 1.05rem;
}

.wcu-item-description{
	padding-top: 0.9rem;
	color: oklch(0.5104 0 360);
	font-size: 0.95rem;
	font-weight: 500;
}
/* End why choose us */

.welcome-container{
	grid-template-columns: repeat(2, 1fr);
	margin-top: 8rem;
}

.welcome-title{
	font-size: 2.5rem;
}

.store-title{
	color: var(--primary-color);
}