/* Fonts and font-weights moved to src/assets/css/variables.css */

body {
	margin: 0;
}
/* Data Message (Home Loading) */
.data-error-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
}

/* End Data Message */

/* Header moved to `header.css` */
/* See: src/assets/css/header.css */

/* Header styles removed from this file to keep concerns separated */
/* End header menu */
.ppal-text {
	font-style: italic;
	font-size: 15pt;
}

.grid-item .flex {
	align-items: center;
}

.grid-item .flex p:nth-child(1) {
	padding: 1rem;
}

.grid-item .flex p:nth-child(2) {
	margin: 0;
}

.menu-container.grid {
	grid-template-columns: repeat(5, 1fr);
	gap: 6rem;
}
.darkmode-shop {
	width: fit-content;
	display: flex;
}
/* Shoppingcart & modal styles moved to `shoppingcart.css` */
/* See: src/assets/css/shoppingcart.css */

/* Shoppingcart styles removed from this file to keep concerns separated */

/* Main container moved to `products.css` */


/* Modal layout moved to `shoppingcart.css`/`products.css` */


/* Menu container moved to `products.css` */


/* Grid item modal styles moved to `products.css` */


/* Grid item image styles moved to `products.css` */


/* Add-cart button styles moved to `products.css` (uses variables) */


/* Product value and name styles moved to `products.css` */


/* Empty cart button styles moved to `products.css` */


/* Add/del cart styles moved to `products.css` */


/* Pay & small-cart UI moved to `products.css` */
/* End shoppingcart */

.guitar-title {
	font-size: 16pt;
}

button:disabled:hover{
	background-color: orange;
	border: 1px solid rgb(248, 165, 11);
	cursor: not-allowed;
}

.product-data-container{
	max-height: 18vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.product-description{
	height: 6rem;
}

/* Footer styles moved to `footer.css` and home styles to `home.css` */
/* See: src/assets/css/footer.css and src/assets/css/home.css */
