/* Product and cart item styles */
.main-container{
	padding: .5rem 7rem;
}

.menu-container{
	margin: 3rem 0;
}

.menu-container.grid {
	grid-template-columns: repeat(5, 1fr);
	gap: 6rem;
}

.foot .grid-item-modal{
	font-weight: var(--weight-extra-bold);
}

.grid-item-modal {
	padding: 0.5rem;
}

.grid-item-modal label{
	font-size: clamp(0.8rem, 2vw, 1rem);/* para que se adapte a resol. móvil*/
}

.grid-item-modal input.quantity-cart, .grid-item-modal .add-del-cart{
	font-size: 0.8rem;
}

.grid-item img {
	border-radius: 1rem;
	width: 230px;
	height: 300px;
}

.grid-item img {
	border-radius: 1rem;
	width: 230px;
	height: 300px;
}

.product-value {
	font-size: 25pt;
	margin: 1.5rem 0;
	color: var(--logo-grad-end);
}
.product-value, .product-name, .our-collection {
	font-weight: var(--weight-extra-bold);
}

.product-name {
	font-size: 15pt;
	min-height: 2rem;
}

.guitar-title {
	font-size: 16pt;
}

.product-data-container{
	max-height: 18vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.product-description{
	height: 6rem;
}