/* Product and cart item styles */
.collection-txt{
	color: var(--primary-color);
}

.main-container{
	padding: .5rem 7rem;
}

.menu-container{
	margin: 3rem 0;
}

.menu-container.grid {
	grid-template-columns: repeat(5, 1fr);
	gap: 6rem;
}
.grid-item{
	border-radius: 1rem;
	padding: 1rem;
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.grid-item img {
	width: 230px;
	height: 260px;
}

.product-value {
	font-size: 25pt;
	margin: .5rem 0;
	color: var(--logo-grad-end);
}
.product-value, .product-name, .our-collection {
	font-weight: var(--weight-extra-bold);
}

.product-name {
	font-size: 15pt;
	min-height: 1.5rem;
	height: 2rem;
}

.guitar-title {
	font-size: 16pt;
}

.product-data-container{
	max-height: 18vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.product-description{
	height: 4rem;
	padding: 0 1rem;
}

.category{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	background-color: var(--primary-color);
	color: var(--white);
	padding: 0.2rem 0.5rem;
	border-radius: 0.5rem;
	font-size: 0.8rem;
	font-weight: var(--weight-semi-bold);
	width: 3rem;
}
.category:hover {
	animation: alternate 0.5s ease-in-out category-hover;
}
/* Categories Container  */
.categories-container {
  margin-bottom: 4rem;
}

.category-button {
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  background-color: var(--white);
  color: var(--primary-color);
  font-weight: var(--weight-semi-bold);
  cursor: pointer;
  transition: all 1s ease;
}

.category-button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.category-button.active {
  background-color: var(--primary-color);
  color: var(--white);
}
/* Category Animation */
@keyframes category-hover {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

/* End Categories Container */